# Random Forest 
Assignment
About the data: 

Let’s consider a Company dataset with around 10 variables and 400 records. 
The attributes are as follows: 

 Sales -- Unit sales (in thousands) at each location

 Competitor Price -- Price charged by competitor at each location

 Income -- Community income level (in thousands of dollars)

 Advertising -- Local advertising budget for company at each location (in thousands of dollars)

 Population -- Population size in region (in thousands)

 Price -- Price company charges for car seats at each site

 Shelf Location at stores -- A factor with levels Bad, Good and Medium indicating the quality of the shelving location for the car seats at each site

 Age -- Average age of the local population

 Education -- Education level at each location

 Urban -- A factor with levels No and Yes to indicate whether the store is in an urban or rural location

 US -- A factor with levels No and Yes to indicate whether the store is in the US or not

The company dataset looks like this: 

Problem Statement:

A cloth manufacturing company is interested to know about the segment or attributes causes high sale. 
Approach - A Random Forest can be built with target variable Sales (we will first convert it in categorical variable) & all other variable will be independent in the analysis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
Company_Data = pd.read_csv("C:\\Excelr Data\\Assignments\\Random Forests\\Company_Data.csv")
Company_Data

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
Company_Data.describe()

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,7.496325,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000
std,2.824115,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528
min,0.000000,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000
25%,5.390000,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000
50%,7.490000,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000
75%,9.320000,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000
max,16.270000,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000

In [4]:
Company_Data.Sales

0       9.50
1      11.22
2      10.06
3       7.40
4       4.15
       ...
395    12.57
396     6.14
397     7.41
398     5.94
399     9.71
Name: Sales, Length: 400, dtype: float64

In [5]:
sales_quality = [] 
for value in Company_Data["Sales"]: 
    if value <= 7.496325: 
        sales_quality.append("low") 
    #elif value >=9.320000: 
    #    sales_quality.append("high") 
    else:
        sales_quality.append("high")
       
Company_Data["sales_quality"] =sales_quality

In [6]:
Company_Data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales_quality
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes,high
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes,high
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes,high
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes,low
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No,low

In [7]:
Company_Data.drop(["Sales"],axis=1,inplace=True)

In [8]:
Company_Data.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,sales_quality
0,138,73,11,276,120,Bad,42,17,Yes,Yes,high
1,111,48,16,260,83,Good,65,10,Yes,Yes,high
2,113,35,10,269,80,Medium,59,12,Yes,Yes,high
3,117,100,4,466,97,Medium,55,14,Yes,Yes,low
4,141,64,3,340,128,Bad,38,13,Yes,No,low

In [9]:
Company_Data['Urban'] = Company_Data['Urban'].apply(lambda x: 0 if x=='no' else 1)
Company_Data['US'] = Company_Data['US'].apply(lambda x: 0 if x=='no' else 1)

In [10]:
# Import label encoder 
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder()

In [11]:
Company_Data.ShelveLoc = label_encoder.fit_transform(Company_Data.ShelveLoc)

In [12]:
Company_Data.ShelveLoc.unique()

array([0, 1, 2])

In [13]:
Company_Data.ShelveLoc

0      0
1      1
2      2
3      2
4      0
      ..
395    1
396    2
397    2
398    0
399    1
Name: ShelveLoc, Length: 400, dtype: int32

In [14]:
Company_Data.isnull().sum()

CompPrice        0
Income           0
Advertising      0
Population       0
Price            0
ShelveLoc        0
Age              0
Education        0
Urban            0
US               0
sales_quality    0
dtype: int64

In [15]:
Company_Data['sales_quality'].unique()

array(['high', 'low'], dtype=object)

In [16]:
Company_Data.sales_quality.value_counts()

low     201
high    199
Name: sales_quality, dtype: int64

In [17]:
colnames = list(Company_Data.columns)
colnames

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US',
 'sales_quality']

In [18]:
predictors = colnames[:10]
predictors

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US']

In [19]:
target = colnames[10]
target

'sales_quality'

In [20]:
X = Company_Data[predictors]
X

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,0,42,17,1,1
1,111,48,16,260,83,1,65,10,1,1
2,113,35,10,269,80,2,59,12,1,1
3,117,100,4,466,97,2,55,14,1,1
4,141,64,3,340,128,0,38,13,1,1
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,1,33,14,1,1
396,139,23,3,37,120,2,55,11,1,1
397,162,26,12,368,159,2,40,18,1,1
398,100,79,7,284,95,0,50,12,1,1
399,134,37,0,27,120,1,49,16,1,1

In [21]:
Y = Company_Data[target]

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
rf = RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=100,criterion="entropy")
rf
#help(RandomForestClassifier)
# n_estimators -> Number of trees ( you can increase for better accuracy)
# n_jobs -> Parallelization of the computing and signifies the number of jobs 
# running parallel for both fit and predict
# oob_score = True means model has done out of box sampling to make predictions

#np.shape(Diabetes) # 768,9 => Shape

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [24]:
#### Attributes that comes along with RandomForest function
rf.fit(X,Y) # Fitting RandomForestClassifier model from sklearn.ensemble

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [25]:
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1958557796),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1510142498),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=504996110),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1175706022),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1741021801),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=335501698),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=603287678),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=285661510),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=213671126),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=329309412),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1650066344),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1557407933),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1686139734),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1518182623),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=103423643),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1368218703),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=935338037),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=210267642),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1994607006),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=303575178),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=301834713),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2131346933),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2055185385),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1517654251),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=410240299),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1049317569),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1589982439),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1861857718),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=584540080),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=904388215),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1555168992),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1719062567),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=316531433),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=308348270),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1034630071),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1560799430),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1346090960),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=122251022),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1661988469),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2132406089),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2062694182),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=64694832),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2116721035),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=894743727),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1888606107),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=584012242),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=703808398),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=495979387),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1197138206),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1824065850),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1529267580),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=768210433),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=971440509),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1958325200),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=903635188),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=923000493),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1802783516),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=497897456),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1883068391),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1191901962),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1722140823),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=434148721),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1465006840),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2093957272),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1638145532),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1163142389),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=497136051),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1748303107),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1002555276),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1505812099),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=833335924),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1694010424),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1192605915),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1437418862),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1575266728),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=710562618),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=585831077),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=868297024),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=86379832),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=264390456),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=932075705),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=12068930),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=186856260),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1983283156),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=858980689),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=759200716),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=339453101),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=590766631),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=811015822),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1630666000),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1794549015),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=287471716),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=380580369),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1264732909),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=741849596),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1688149148),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1914288628),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1743327155),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=669605315),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1679448195)]

In [26]:
rf.classes_ # class labels (output)

array(['high', 'low'], dtype=object)

In [27]:
rf.n_classes_ # Number of levels in class labels

2

In [28]:
rf.n_features_  # Number of input features in model 10 here.

10

In [29]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [30]:
rf.oob_score_

0.805

In [31]:
rf.predict(X)

array(['high', 'high', 'high', 'low', 'low', 'high', 'low', 'high', 'low',
       'low', 'high', 'high', 'low', 'high', 'high', 'high', 'high',
       'high', 'high', 'high', 'low', 'high', 'low', 'low', 'high',
       'high', 'high', 'low', 'low', 'high', 'high', 'high', 'low',
       'high', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'high',
       'high', 'low', 'low', 'low', 'high', 'low', 'low', 'high', 'low',
       'low', 'high', 'low', 'low', 'low', 'high', 'low', 'low', 'low',
       'high', 'low', 'low', 'high', 'high', 'low', 'high', 'high',
       'high', 'high', 'high', 'low', 'low', 'high', 'low', 'high',
       'high', 'high', 'low', 'high', 'high', 'high', 'high', 'low',
       'low', 'high', 'high', 'high', 'low', 'high', 'low', 'low', 'low',
       'high', 'high', 'low', 'high', 'low', 'high', 'low', 'low', 'low',
       'low', 'low', 'low', 'low', 'low', 'high', 'low', 'high', 'high',
       'low', 'low', 'low', 'high', 'high', 'low', 'high', 'high', 'low',
       'low', 'high', 'low', 'high', 'high', 'high', 'high', 'low', 'low',
       'low', 'high', 'low', 'high', 'high', 'low', 'low', 'low', 'low',
       'high', 'high', 'low', 'low', 'low', 'low', 'high', 'high', 'low',
       'high', 'high', 'high', 'high', 'high', 'high', 'low', 'low',
       'high', 'low', 'high', 'high', 'high', 'low', 'low', 'low', 'low',
       'high', 'low', 'low', 'low', 'low', 'high', 'high', 'high', 'high',
       'low', 'low', 'high', 'low', 'high', 'high', 'high', 'low', 'low',
       'low', 'low', 'high', 'high', 'high', 'low', 'high', 'high',
       'high', 'low', 'high', 'high', 'low', 'low', 'low', 'low', 'low',
       'low', 'low', 'low', 'low', 'low', 'high', 'low', 'low', 'high',
       'high', 'low', 'low', 'high', 'high', 'high', 'low', 'low', 'low',
       'low', 'high', 'high', 'high', 'low', 'low', 'low', 'low', 'low',
       'high', 'high', 'low', 'high', 'low', 'high', 'high', 'high',
       'high', 'low', 'high', 'high', 'low', 'low', 'high', 'high', 'low',
       'high', 'high', 'high', 'low', 'low', 'low', 'low', 'high', 'low',
       'high', 'low', 'high', 'high', 'low', 'high', 'low', 'low', 'high',
       'low', 'low', 'high', 'low', 'low', 'high', 'low', 'low', 'low',
       'high', 'low', 'high', 'high', 'low', 'low', 'low', 'high', 'low',
       'low', 'low', 'high', 'high', 'low', 'low', 'high', 'high', 'low',
       'low', 'high', 'high', 'low', 'high', 'high', 'high', 'low',
       'high', 'low', 'high', 'high', 'high', 'low', 'low', 'high',
       'high', 'high', 'low', 'low', 'high', 'high', 'high', 'low', 'low',
       'high', 'high', 'low', 'high', 'low', 'high', 'low', 'low', 'high',
       'high', 'high', 'low', 'high', 'low', 'low', 'low', 'high', 'low',
       'high', 'low', 'low', 'high', 'low', 'low', 'high', 'low', 'high',
       'high', 'low', 'high', 'low', 'high', 'low', 'high', 'low', 'high',
       'high', 'high', 'high', 'high', 'high', 'low', 'low', 'low',
       'high', 'low', 'low', 'high', 'high', 'low', 'high', 'high', 'low',
       'low', 'high', 'high', 'high', 'high', 'high', 'high', 'low',
       'high', 'high', 'high', 'low', 'low', 'low', 'high', 'low', 'low',
       'high', 'high', 'low', 'low', 'high', 'high', 'high', 'low', 'low',
       'low', 'low', 'low', 'high', 'low', 'low', 'low', 'high'],
      dtype=object)

In [32]:
Company_Data['rf_pred'] = rf.predict(X)

In [33]:
cols = ['rf_pred','sales_quality']
cols

['rf_pred', 'sales_quality']

In [34]:
Company_Data[cols].head()

  rf_pred sales_quality
0    high          high
1    high          high
2    high          high
3     low           low
4     low           low

In [35]:
Company_Data["sales_quality"]

0      high
1      high
2      high
3       low
4       low
       ...
395    high
396     low
397     low
398     low
399    high
Name: sales_quality, Length: 400, dtype: object

In [36]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Company_Data['sales_quality'],Company_Data['rf_pred']) # Confusion matrix

array([[199,   0],
       [  0, 201]], dtype=int64)

In [37]:
pd.crosstab(Company_Data['sales_quality'],Company_Data['rf_pred'])

rf_pred        high  low
sales_quality
high            199    0
low               0  201

In [38]:
accuracy=(199+201)/(199+201+0+0)
accuracy

1.0