# Use Random Forest to prepare a model on fraud data 

treating those who have taxable_income <= 30000 as "Risky" and others are "Good"

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
Fraud= pd.read_csv("C:\\Excelr Data\\Assignments\\Random Forests\\Fraud_check.csv")
Fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [4]:
Fraud.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [5]:
Taxable_Income = []

In [6]:
for value in Fraud["Taxable.Income"]: 
    if value <= 30000: 
        Taxable_Income.append("Risky") 
    #elif value >=9.320000: 
    #    sales_quality.append("high") 
    else:
        Taxable_Income.append("Good")
       
Fraud["Taxable_Income"] =Taxable_Income

In [7]:
Fraud.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,Taxable_Income
0,NO,Single,68833,50047,10,YES,Good
1,YES,Divorced,33700,134075,18,YES,Good
2,NO,Married,36925,160205,30,YES,Good
3,YES,Single,50190,193264,15,YES,Good
4,NO,Married,81002,27533,28,NO,Good

In [8]:
Fraud.drop(["Taxable.Income"],axis=1,inplace=True)

In [9]:
Fraud.head()

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,Taxable_Income
0,NO,Single,50047,10,YES,Good
1,YES,Divorced,134075,18,YES,Good
2,NO,Married,160205,30,YES,Good
3,YES,Single,193264,15,YES,Good
4,NO,Married,27533,28,NO,Good

In [10]:
Fraud['Undergrad'] = Fraud['Undergrad'].apply(lambda x: 0 if x=='no' else 1)
Fraud['Urban'] = Fraud['Urban'].apply(lambda x: 0 if x=='no' else 1)

In [11]:
Fraud

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,Taxable_Income
0,1,Single,50047,10,1,Good
1,1,Divorced,134075,18,1,Good
2,1,Married,160205,30,1,Good
3,1,Single,193264,15,1,Good
4,1,Married,27533,28,1,Good
...,...,...,...,...,...,...
595,1,Divorced,39492,7,1,Good
596,1,Divorced,55369,2,1,Good
597,1,Divorced,154058,0,1,Good
598,1,Married,180083,17,1,Good
599,1,Divorced,158137,16,1,Good

In [12]:
Fraud.rename(columns={"Marital.Status":"MaritalStatus"},inplace=True)

In [13]:
Fraud

,Undergrad,MaritalStatus,City.Population,Work.Experience,Urban,Taxable_Income
0,1,Single,50047,10,1,Good
1,1,Divorced,134075,18,1,Good
2,1,Married,160205,30,1,Good
3,1,Single,193264,15,1,Good
4,1,Married,27533,28,1,Good
...,...,...,...,...,...,...
595,1,Divorced,39492,7,1,Good
596,1,Divorced,55369,2,1,Good
597,1,Divorced,154058,0,1,Good
598,1,Married,180083,17,1,Good
599,1,Divorced,158137,16,1,Good

In [14]:
# Import label encoder 
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder()

In [15]:
Fraud.MaritalStatus = label_encoder.fit_transform(Fraud.MaritalStatus)

In [16]:
Fraud.MaritalStatus.unique()

array([2, 0, 1])

In [17]:
Fraud.head()

,Undergrad,MaritalStatus,City.Population,Work.Experience,Urban,Taxable_Income
0,1,2,50047,10,1,Good
1,1,0,134075,18,1,Good
2,1,1,160205,30,1,Good
3,1,2,193264,15,1,Good
4,1,1,27533,28,1,Good

In [18]:
Fraud.isnull().sum()

Undergrad          0
MaritalStatus      0
City.Population    0
Work.Experience    0
Urban              0
Taxable_Income     0
dtype: int64

In [19]:
Fraud['Taxable_Income'].unique()

array(['Good', 'Risky'], dtype=object)

In [20]:
Fraud.Taxable_Income.value_counts()

Good     476
Risky    124
Name: Taxable_Income, dtype: int64

In [21]:
colnames = list(Fraud.columns)
colnames

['Undergrad',
 'MaritalStatus',
 'City.Population',
 'Work.Experience',
 'Urban',
 'Taxable_Income']

In [22]:
predictors = colnames[:5]
predictors

['Undergrad', 'MaritalStatus', 'City.Population', 'Work.Experience', 'Urban']

In [23]:
target = colnames[5]
target

'Taxable_Income'

In [24]:
X = Fraud[predictors]
X

     Undergrad  MaritalStatus  City.Population  Work.Experience  Urban
0            1              2            50047               10      1
1            1              0           134075               18      1
2            1              1           160205               30      1
3            1              2           193264               15      1
4            1              1            27533               28      1
..         ...            ...              ...              ...    ...
595          1              0            39492                7      1
596          1              0            55369                2      1
597          1              0           154058                0      1
598          1              1           180083               17      1
599          1              0           158137               16      1

[600 rows x 5 columns]

In [25]:
Y = Fraud[target]
Y

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: Taxable_Income, Length: 600, dtype: object

In [26]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
rf = RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=100,criterion="entropy")
rf
#help(RandomForestClassifier)
# n_estimators -> Number of trees ( you can increase for better accuracy)
# n_jobs -> Parallelization of the computing and signifies the number of jobs 
# running parallel for both fit and predict
# oob_score = True means model has done out of box sampling to make predictions

#np.shape(Diabetes) # 768,9 => Shape

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [28]:
#### Attributes that comes along with RandomForest function
rf.fit(X,Y) # Fitting RandomForestClassifier model from sklearn.ensemble

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [29]:
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1147434104),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1075861344),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1598544069),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1829328707),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2096899652),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=103316815),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1892997215),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1425933139),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=480842858),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=286762130),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=169662532),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1386842902),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=336423652),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=120763040),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=652902261),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1643014001),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1765941121),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1732157316),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=927094259),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=994710794),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=337835865),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=701476570),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1332206570),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=464518307),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1559984624),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=481776706),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=29271639),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=978052598),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1717039794),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=639270607),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=334354183),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=233958447),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=710946306),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=821704177),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1250080665),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=55311665),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2052807288),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1794362353),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=357249761),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=919592085),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1656462619),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1475690408),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1937450977),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1715657180),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1817661203),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=475939181),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=613140060),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=462589101),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=666319411),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2030157795),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=814883227),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=429929223),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1214043574),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1018994970),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=460435845),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1489237245),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=777712078),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=807778818),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1814981546),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=314111343),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1569815364),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=82297433),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1434185438),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=382168579),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=143762468),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1043178246),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1619957284),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1103070315),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=51613211),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=325346716),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=136541524),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2138891162),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1083175981),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2047097640),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1599547644),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1061049360),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=816558763),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=111659024),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1658753730),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1492970881),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1422600160),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=474091117),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1204884472),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1887140570),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1832573274),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1868389367),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=337259368),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=87831067),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1955508550),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=220664553),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=380029337),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=853140120),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1422543573),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=358781434),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1422677092),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=506480934),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1199440253),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=893026645),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=598571854),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1150149004)]

In [30]:
rf.classes_ # class labels (output)

array(['Good', 'Risky'], dtype=object)

In [31]:
rf.n_classes_ # Number of levels in class labels

2

In [32]:
rf.n_features_  # Number of input features in model 5 here.

5

In [33]:
rf.n_outputs_ # Number of outputs when fit performed

1

In [34]:
rf.oob_score_

0.7183333333333334

In [35]:
rf.predict(X)

array(['Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good',
       'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky',
       'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good'], dtype=object)

In [36]:
Fraud['rf_pred'] = rf.predict(X)

In [37]:
cols = ['rf_pred','Taxable_Income']
cols

['rf_pred', 'Taxable_Income']

In [38]:
Fraud[cols].head()

  rf_pred Taxable_Income
0    Good           Good
1    Good           Good
2    Good           Good
3    Good           Good
4    Good           Good

In [39]:
Fraud["Taxable_Income"]

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: Taxable_Income, Length: 600, dtype: object

In [40]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Fraud['Taxable_Income'],Fraud['rf_pred']) # Confusion matrix

array([[476,   0],
       [  0, 124]], dtype=int64)

In [41]:
pd.crosstab(Fraud['Taxable_Income'],Fraud['rf_pred'])

rf_pred         Good  Risky
Taxable_Income
Good             476      0
Risky              0    124

In [42]:
accuracy=(476+124)/(476+124+0+0)
accuracy

1.0